<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">
<head>
    <title>
        Add contact
    </title>
</head>
<body>

    <div id="content">
        <!-- sidebar -->
        <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

        <div  class="sm:pl-64 pt-20" style="height: 1000px">
            <!-- <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-3"></div>
            </div> -->
            <div>
                
            </div>
        </div>    
    </div>
</body>
</html>