<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text = "${name}">hello world</h1>
        <p>Github: <a th:href="${gitHub}">github</a></p>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores eaque laboriosam tempore libero possimus, doloribus doloremque amet adipisci molestias nemo deserunt, veritatis, voluptates ex assumenda? Rerum fuga dolorum doloribus rem consequatur atque, totam, officiis voluptate tenetur molestias dicta placeat ad ratione aperiam consectetur blanditiis necessitatibus reiciendis! Voluptatum vero cupiditate et!</p>
    </div>
</body>
</html>